@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile-width) {
    @content;
  }
}

@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin typography($font-size, $line-height, $font-family) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: "avenir";
}
