$tablet-width: 600px;
$desktop-width: 1200px;
$mobile-width: 368px;

$primary-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;

$secondary-black: #000000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;

$font-family: "avenir", sans-serif;
