$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width: 320px;

$primary-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;

$secondary-black: #000000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;

// $font-family: "avenir", sans-serif;
$font-path: "/fonts/";

@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}

$body-font: "avenir", "regular";
$heading-font: "avenir", bold;
