@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "avenir", "regular";
  color: #323232;
  border: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "avenir", bold;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #323232;
  color: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  .site-header {
    display: flex;
    flex-direction: row;
  }
}
.site-header__logo {
  color: #ffffff;
  padding: 1rem;
  font-size: 36px;
}
@media (min-width: 1280px) {
  .site-header__logo {
    padding: 48px 36px 36px 36px;
    margin-left: 4rem;
  }
}

.primary-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
.primary-nav__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}
.primary-nav__item {
  display: flex;
  font-size: 1rem;
}
.primary-nav__underline {
  border-bottom: 2px solid #ffffff;
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 10vh;
  min-height: 250px;
  max-height: 600px;
  display: flex;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .banner {
    height: 60vh;
  }
}
@media (min-width: 1280px) {
  .banner {
    height: 100vh;
  }
}
.banner__title {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .banner__title {
    font-size: 60px;
    margin-left: 36px;
    line-height: 68px;
  }
}
@media (min-width: 1280px) {
  .banner__title {
    font-size: 60px;
    margin-left: 6.2rem;
    line-height: 68px;
  }
}

.site-main {
  padding: 24px 16px 16px 16px;
}
.site-main__title {
  font-size: 24px;
  margin: 0 0 16px 0;
}
@media (min-width: 768px) {
  .site-main__title {
    font-size: 36px;
    line-height: 44px;
    margin-left: 23px;
  }
}
@media (min-width: 1280px) {
  .site-main__title {
    margin-left: 3rem;
    padding: 36px;
  }
}
@media (min-width: 768px) {
  .site-main__wrapper {
    display: grid;
    place-items: center;
  }
}
.site-main__concertpic {
  padding: 0;
}
@media (min-width: 768px) {
  .site-main__concertpic {
    height: 50vh;
    max-width: 100%;
  }
}
@media (min-width: 1280px) {
  .site-main__concertpic {
    height: 70vh;
    max-width: 100%;
    display: block;
    position: relative;
  }
}
@media (min-width: 768px) {
  .site-main__pullquote {
    width: 65%;
    text-align: left;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .site-main__pullquote {
    width: 62%;
    font-size: 24px;
  }
}
.site-main__bandmate {
  text-align: left;
  width: 65%;
}
@media (min-width: 1280px) {
  .site-main__bandmate {
    width: 62%;
  }
}
.site-main__sectionwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-main__columntitle {
  font-weight: 600;
}
@media (min-width: 768px) {
  .site-main__columntitle {
    width: 65%;
  }
}
@media (min-width: 1280px) {
  .site-main__columntitle {
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .site-main__columnwrapper {
    display: flex;
    width: 65%;
  }
}
@media (min-width: 1280px) {
  .site-main__columnwrapper {
    display: flex;
    width: 65%;
    padding-bottom: 20px;
  }
}
.site-main__column {
  font-size: 13px;
}
@media (min-width: 768px) {
  .site-main__column {
    flex: 1;
    margin: 0 10px;
    padding-bottom: 16px;
  }
}
@media (min-width: 1280px) {
  .site-main__column {
    font-size: 16px;
    margin: 0 16px 0 16px;
  }
}

.photo-gallery {
  background-color: #fafafa;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .photo-gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__wrapper {
    margin: 48px;
  }
}
.photo-gallery__title {
  font-size: 24px;
}
@media (min-width: 768px) {
  .photo-gallery__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;
    margin-left: 16px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__title {
    margin-left: 3rem;
  }
}
.photo-gallery__item {
  padding: 1px;
  margin: 1px;
  max-width: 100%;
  height: auto;
}

.footer-container {
  background-color: #323232;
  color: #ffffff;
  text-align: left;
}
@media (min-width: 768px) {
  .footer-container__headwrap {
    display: flex;
  }
}
.footer-container__header {
  padding: 24px 16px 16px 16px;
}
@media (min-width: 768px) {
  .footer-container__header {
    font-size: 36px;
    line-height: 44px;
    padding: 36px;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .footer-container__header {
    margin: 36px;
    padding: 36px 36px 0 36px;
  }
}
@media (min-width: 768px) {
  .footer-container__wrapper {
    display: flex;
    padding: 0px 16px 16px 16px;
  }
}
@media (min-width: 1280px) {
  .footer-container__wrapper {
    display: flex;
    padding: 0px 36px 36px 36px;
  }
}
.footer-container__social {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .footer-container__social {
    display: flex;
    align-items: center;
  }
}
.footer-container__social-icon {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer-container__social-icon {
    display: flex;
    justify-content: space-between;
    padding: 36px;
  }
}
@media (min-width: 1280px) {
  .footer-container__social-icon {
    display: flex;
    height: 25px;
  }
}
.footer-container__column {
  margin-left: 16px;
}
@media (min-width: 1280px) {
  .footer-container__column {
    padding-left: 16px;
  }
}
.footer-container__title {
  margin-left: 0;
}
@media (min-width: 768px) {
  .footer-container__title {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .footer-container__title {
    font-size: 20px;
  }
}
.footer-container__list {
  padding-left: 0;
}
@media (min-width: 768px) {
  .footer-container__list {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .footer-container__list {
    font-size: 18px;
  }
}
.footer-container__item {
  margin-bottom: 7px;
}
.footer-container__copyright {
  padding: 16px;
}
@media (min-width: 768px) {
  .footer-container__copyright {
    padding-left: 36px;
  }
}
@media (min-width: 1280px) {
  .footer-container__copyright {
    padding: 0 48px 36px 36px;
    margin-left: 30px;
  }
}

.comment-form__title {
  padding-left: 28px;
}
.comment-form__list {
  color: #e1e1e1;
}
.comment-form__wrapper {
  margin: 10px;
}

input[type=text],
input[type=comment] {
  padding: 10px;
  border-color: rgba(50, 50, 50, 0.1411764706);
  border-radius: 5px;
  width: 300px;
}

label {
  display: inline-block;
  width: 100px;
}

.button-item {
  font-size: 13px;
  padding: 16px;
}/*# sourceMappingURL=bio.css.map */