@use "./partials/mixins" as *;
@use "./partials/variables" as *;

// * {
// }

body {
  font-family: $body-font;
  color: $primary-black;
  border: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

// COME BACK TO THIS
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $primary-black;
  color: $primary-white;
  width: 100%;
  // padding: 10px;
  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__logo {
    color: $primary-white;
    padding: 1rem;
    font-size: 36px;
    @include desktop {
      padding: 48px 36px 36px 36px;
      margin-left: 4rem;
    }
  }
}

// .site-header__wrapper {
//   display: flex;

.primary-nav {
  display: flex;
  width: 100%;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
  }
  &__item {
    display: flex;
    font-size: 1rem;
  }
  &__underline {
    border-bottom: 2px solid $primary-white;
  }
  @include tablet {
  }
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 10vh;
  min-height: 250px;
  max-height: 600px;
  display: flex;
  align-items: center;
  width: 100%;
  @include tablet {
    height: 60vh;
  }
  @include desktop {
    height: 100vh;
  }

  &__title {
    color: $primary-white;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 16px;
    @include tablet {
      font-size: 60px;
      margin-left: 36px;
      line-height: 68px;
    }
    @include desktop {
      font-size: 60px;
      margin-left: 6.2rem;
      line-height: 68px;
    }
  }
}

.site-main {
  padding: 24px 16px 16px 16px;

  &__title {
    font-size: 24px;
    margin: 0 0 16px 0;
    @include tablet {
      font-size: 36px;
      line-height: 44px;
      margin-left: 23px;
    }
    @include desktop {
      margin-left: 3rem;
      padding: 36px;
    }
  }
  &__wrapper {
    @include tablet {
      display: grid;
      place-items: center;
    }
  }
  &__concertpic {
    padding: 0;
    @include tablet {
      height: 50vh;
      max-width: 100%;
    }
    @include desktop {
      height: 70vh;
      max-width: 100%;
      display: block;
      position: relative;
    }
  }
  &__pullquote {
    @include tablet {
      width: 65%;
      text-align: left;
      margin-bottom: 0;
    }
    @include desktop {
      width: 62%;
      font-size: 24px;
    }
  }
  &__bandmate {
    text-align: left;
    width: 65%;
    @include desktop {
      width: 62%;
    }
  }
  &__sectionwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__columntitle {
    font-weight: 600;
    @include tablet {
      width: 65%;
    }
    @include desktop {
      font-size: 24px;
      font-weight: 700;
      margin-left: 30px;
    }
  }
  &__columnwrapper {
    @include tablet {
      display: flex;
      width: 65%;
    }
    @include desktop {
      display: flex;
      width: 65%;
      padding-bottom: 20px;
    }
  }
  &__column {
    font-size: 13px;

    @include tablet {
      flex: 1;
      margin: 0 10px;
      padding-bottom: 16px;
    }
    @include desktop {
      font-size: 16px;
      margin: 0 16px 0 16px;
    }
  }
}

.photo-gallery {
  background-color: $secondary-alabaster;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  &__wrapper {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      justify-content: center;
      align-items: center;
      margin: 16px;
    }
    @include desktop {
      margin: 48px;
    }
  }
  &__title {
    font-size: 24px;
    @include tablet {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 0;
      margin-left: 16px;
    }
    @include desktop {
      margin-left: 3rem;
    }
  }
  &__item {
    padding: 1px;
    margin: 1px;
    max-width: 100%;
    height: auto;
  }
}

.footer-container {
  background-color: $primary-black;
  color: $primary-white;
  text-align: left;
  &__headwrap {
    @include tablet {
      display: flex;
    }
  }
  &__header {
    padding: 24px 16px 16px 16px;
    @include tablet {
      font-size: 36px;
      line-height: 44px;
      padding: 36px;
      margin: 0;
    }
    @include desktop {
      margin: 36px;
      padding: 36px 36px 0 36px;
    }
  }
  &__wrapper {
    @include tablet {
      display: flex;
      padding: 0px 16px 16px 16px;
    }
    @include desktop {
      display: flex;
      padding: 0px 36px 36px 36px;
    }
  }
  &__social {
    display: flex;
    justify-content: space-evenly;
    @include tablet {
      display: flex;
      align-items: center;
    }
  }
  &__social-icon {
    display: inline-block;
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 36px;
    }
    @include desktop {
      display: flex;
      height: 25px;
    }
  }
  &__column {
    margin-left: 16px;
    @include desktop {
      padding-left: 16px;
    }
  }
  &__title {
    margin-left: 0;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 20px;
    }
  }
  &__list {
    padding-left: 0;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 18px;
    }
  }
  &__item {
    margin-bottom: 7px;
  }
  &__copyright {
    padding: 16px;
    @include tablet {
      padding-left: 36px;
    }
    @include desktop {
      padding: 0 48px 36px 36px;
      margin-left: 30px;
    }
  }
}

.comment-form {
  &__title {
    padding-left: 28px;
  }

  // &__list {
  //   // color: $secondary-mercury;
  //   // font-weight: 700;
  // }

  &__wrapper {
    margin: 10px;
    color: $primary-silver;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 10px;
    // display: flex;
    @include tablet {
      display: flex;
      justify-content: center;
    }
    @include desktop {
      font-size: 16px;
    }
  }
  &__img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
}

.comment {
  &__group {
    border-bottom: 1px solid $secondary-mercury;
  }
}

input[type="text"] {
  padding: 10px;
  border-color: #32323224;
  border-radius: 5px;
  width: 240px;
  background-color: $secondary-alabaster;
  @include tablet {
    width: 400px;
    height: 50px;
  }
}

input[type="comment"] {
  padding: 10px;
  border-color: #32323224;
  border-radius: 5px;
  width: 240px;
  // height: 500px;
  background-color: $secondary-alabaster;
  color: $secondary-black;
}

label {
  display: inline-block;
  width: 100px;
}

button[type="submit"] {
  font-size: 13px;
  padding: 16px;
  color: $primary-white;
  background-color: $primary-black;
  border-radius: 5px;
  margin-left: 28px;
  width: 85%;
  margin-bottom: 16px;
}

.button-item {
  @include tablet {
    width: 100%;

    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}

.comment {
  border-bottom: 1px solid $secondary-mercury;
  position: relative;
  &__name {
    font-weight: 600;
    margin-left: 20px;
  }
  &__date {
    color: $secondary-mercury;
    position: absolute;
    right: 10px;
    // top: 10px;
  }
  &__text {
    padding: 18px;
  }
}

// input [type="submit"] {
// }

// DELETE THIS EVENTUALLY
// * {
//   outline: 1px solid red;
// }
