@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "avenir", "regular";
  color: #323232;
  border: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "avenir", bold;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #323232;
  color: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  .site-header {
    display: flex;
    flex-direction: row;
  }
}
.site-header__logo {
  color: #ffffff;
  padding: 1rem;
  font-size: 36px;
}

.primary-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
.primary-nav__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}
.primary-nav__item {
  display: flex;
  font-size: 1rem;
}
.primary-nav__underline {
  border-bottom: 2px solid #ffffff;
}

.banner {
  background: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 10vh;
  min-height: 250px;
  max-height: 600px;
  display: flex;
  align-items: center;
  width: 100%;
}
.banner-image-overlay {
  width: 100%;
  max-height: 600px;
  min-height: 250px;
  background-color: rgba(50, 50, 50, 0.1411764706);
}
.banner__title {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 16px;
  padding-top: 70px;
}

.site-main {
  padding: 24px 16px 16px 16px;
}
.site-main__title {
  font-size: 24px;
  margin: 0 0 16px 0;
}
.site-main__title__concertpic {
  padding: 16px;
}
.site-main__title__concertpic__columntitle {
  font-weight: 400;
}
@media (min-width: 768px) {
  .site-main {
    padding-top: 24px;
  }
}

.photo-gallery__container {
  background-color: #fafafa;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-wrap: wrap;
}
.photo-gallery__container__title {
  font-size: 24px;
}
.photo-gallery__container__item {
  justify-content: center;
  padding-bottom: 16px;
}

.footer-container {
  background-color: #323232;
  color: #ffffff;
  text-align: left;
}

.footer-container__header {
  padding: 24px 16px 16px 16px;
}

.footer-container__social {
  display: flex;
  justify-content: space-evenly;
}

.footer-container__social-icon {
  display: inline-block;
}

.footer-container__column {
  margin-left: 16px;
}

.footer-container__title {
  margin-left: 0;
}

.footer-container__list {
  padding-left: 0;
}

.footer-container__copyright {
  padding: 16px;
}

* {
  outline: 1px solid red;
}/*# sourceMappingURL=bio.css.map */