@use "./partials/mixins" as *;
@use "./partials/variables" as *;

// * {
// }

body {
  font-family: $body-font;
  color: $primary-black;
  border: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

// COME BACK TO THIS
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $primary-black;
  color: $primary-white;
  width: 100%;
  // padding: 10px;
  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__logo {
    color: $primary-white;
    padding: 1rem;
    font-size: 36px;
  }
}

// .site-header__wrapper {
//   display: flex;

.primary-nav {
  display: flex;
  width: 100%;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
  }
  &__item {
    display: flex;
    font-size: 1rem;
  }
  &__underline {
    border-bottom: 2px solid $primary-white;
  }
  @include tablet {
  }
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 10vh;
  min-height: 250px;
  max-height: 600px;
  display: flex;
  align-items: center;
  width: 100%;
  &__title {
    color: $primary-white;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 16px;
  }
}

.site-main {
  padding: 24px 16px 16px 16px;

  &__title {
    font-size: 24px;
    margin: 0 0 16px 0;
  }
  &__concertpic {
    padding: 0;
  }
  &__pullquote {
  }
  &__columntitle {
    font-weight: 400;
  }
  &__column {
    font-size: 13px;
  }
  @include tablet {
    padding-top: 24px;
  }
}

.photo-gallery {
  background-color: $secondary-alabaster;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;

  &__title {
    font-size: 24px;
  }
  &__item {
    justify-content: center;
    padding-bottom: 16px;
  }
}

.footer-container {
  background-color: $primary-black;
  color: $primary-white;
  text-align: left;

  &__header {
    padding: 24px 16px 16px 16px;
  }
  &__social {
    display: flex;
    justify-content: space-evenly;
  }
  &__social-icon {
    display: inline-block;
  }
  &__column {
    margin-left: 16px;
  }
  &__title {
    margin-left: 0;
  }
  &__list {
    padding-left: 0;
  }
  &__item {
    margin-bottom: 7px;
  }
  &__copyright {
    padding: 16px;
  }
}

// DELETE THIS EVENTUALLY
* {
  outline: 1px solid red;
}
